//
// GLOBAL
//

html {
	-webkit-tap-highlight-color: transparent!important;
}

body {
	background: $white;
	overflow-x: hidden;

	&.-menu-open {
		height: 100vh;
		overflow: hidden;
	}
}


// Links

a {
  color: var(--ps-link);
  -webkit-tap-highlight-color: transparent!important;

  &:hover {
    cursor: pointer;
    filter: brightness(108%);
  }

  &:active{
    cursor: pointer;
    filter: brightness(92%);
  }

  &:focus {
    outline: none;
  }

}








