//
// GLOBAL
//

html {
	-webkit-tap-highlight-color: transparent!important;
  background: #fff;
}

body {
	background: $white;
	overflow-x: hidden;

	&.-menu-open {
		height: 100vh;
		overflow: hidden;
	}
}


// Links

a {
  color: var(--ps-link);
  -webkit-tap-highlight-color: transparent!important;

  &:hover {
    cursor: pointer;
    filter: brightness(108%);
  }

  &:active{
    cursor: pointer;
    filter: brightness(92%);
  }

  &:focus {
    outline: none;
  }

}

.common-ground {
  overflow: hidden;
}


// Hooper.js

.hooper {
 z-index: 5;
 min-width: 320px;
}

.hooper,
.hooper-track,
.hooper-list  {
  &:focus {
    outline: none;
    border: none;
  }
}











