//
// HELPER CLASSES
//


body {


// - - - COLOR

  // Text

  .-text-black {
    color: $black;
  }

  .-text-white {
    color: $white;
  }

  .-text-pink {
    color: $pink;
  }

  .-text-blue {
    color: $blue;
  }

  .-text-lime {
    color: $lime;
  }

  .-text-turquoise {
    color: $turquoise;
  }

  .-text-yellow {
    color: $yellow;
  }

  .-text-red {
    color: $red;
  }

  // Background

  .-bg-black {
    background-color: $black;
  }

  .-bg-white {
    background-color: $white;
  }

  .-bg-pink {
    background-color: $pink;
  }

  .-bg-blue {
    background-color: $blue;
  }

  .-bg-lime {
    background-color: $lime;
  }

  .-bg-turquoise {
    background-color: $turquoise;
  }

  .-bg-yellow {
    background-color: $yellow;
  }

  .-bg-red {
    background-color: $red;
  }



  // Fill

  .-fill-black {
    fill: $black;
    svg {
      fill: $black;
    }
  }

  .-fill-white {
    fill: $white;
    svg {
      fill: $white;
    }
  }

  .-fill-pink {
    fill: $pink;
    svg {
      fill: $pink;
    }
  }

  .-fill-blue {
    fill: $blue;
    svg {
      fill: $blue;
    }
  }

  .-fill-lime {
    fill: $lime;
    svg {
      fill: $lime;
    }
  }

  .-fill-turquoise {
    fill: $turquoise;
    svg {
      fill: $turquoise;
    }
  }

  .-fill-yellow {
    fill: $yellow;
    svg {
      fill: $yellow;
    }
  }

  .-fill-red {
    fill: $red;
    svg {
      fill: $red;
    }
  }


// - - - VISIBILITY

  .-hide {
     display: none!important;
  }

  .-hide-mobile{
     display: none!important;
     @include VP600 {
      display: block!important;
     }
  }

  .-show {
     display: block!important;
  }

  .-wip {
      opacity: .3;
      filter: grayscale(100%);
  }

// - - - POSITION

  .-absolute {
    position: absolute;
  }

  .-relative {
    position: relative;
  }

  .-static {
    position: static;
  }

  .-static {
    position: fixed;
  }


// - - - DISPLAY

  .-inbl {
    display: inline-block;
    width: auto;
  }

  .-bl {
    display: block;
  }

  .-fl {
    display: flex;
  }

  .-in {
    display: inline;
  }

// - - - TEXT

  .-text-center {
    text-align: center;
  }
  .-text-left {
    text-align: left;
  }
  .-text-right {
    text-align: right;
  }
  .-text-uppercase {
    text-transform: uppercase!important;
  }

  .-text-decoration-none {
    text-decoration: none!important;
  }


}




