//
// HELPER CLASSES
//


body {


// - - - COLOR

  // Text

  .-text-black {
    color: $black!important;
    > * {
      color: $black!important;
    }
  }

  .-text-white {
    color: $white!important;
    > * {
      color: $white!important;
      h2,h3,h4 {
        color: $white!important;
      }
    }
  }

  .-text-pink {
    color: $pink!important;
    > * {
      color: $pink!important;
    }
  }

  .-text-blue {
    color: $blue!important;
    > * {
      color: $blue!important;
      h2,h3,h4 {
        color: $blue!important;
      }
    }
  }

  .-text-lime {
    color: $lime!important;
    > * {
      color: $lime!important;
    }
  }

  .-text-turquoise {
    color: $turquoise!important;
    > * {
      color: $turquoise!important;
    }
  }

  .-text-yellow {
    color: $yellow!important;
    > * {
      color: $yellow!important;
    }
  }

  .-text-red {
    color: $red!important;
    > * {
      color: $red!important;
    }
  }

  // Background

  .-bg-black {
    background-color: $black!important;
  }

  .-bg-white {
    background-color: $white!important;
  }

  .-bg-pink {
    background-color: $pink!important;
  }

  .-bg-blue {
    background-color: $blue!important;
  }

  .-bg-lime {
    background-color: $lime!important;
  }

  .-bg-turquoise {
    background-color: $turquoise!important;
  }

  .-bg-yellow {
    background-color: $yellow!important;
  }

  .-bg-red {
    background-color: $red!important;
  }


  // Fill

  .-fill-black {
    fill: $black;
    svg {
      fill: $black;
    }
  }

  .-fill-white {
    fill: $white;
    svg {
      fill: $white;
    }
  }

  .-fill-pink {
    fill: $pink;
    svg {
      fill: $pink;
    }
  }

  .-fill-blue {
    fill: $blue;
    svg {
      fill: $blue;
    }
  }

  .-fill-lime {
    fill: $lime;
    svg {
      fill: $lime;
    }
  }

  .-fill-turquoise {
    fill: $turquoise;
    svg {
      fill: $turquoise;
    }
  }

  .-fill-yellow {
    fill: $yellow;
    svg {
      fill: $yellow;
    }
  }

  .-fill-red {
    fill: $red;
    svg {
      fill: $red;
    }
  }


// - - - ROTATION

  .-rotation-one {
    transform: translateY(-50%) rotate(5deg);
  }

  .-rotation-two {
    transform: translateY(-50%) rotate(-5deg);
  }

  .-rotation-three {
    transform: translateY(-50%) rotate(8deg);
  }

  .-rotation-four {
    transform: translateY(-50%) rotate(-8deg);
  }


// - - - VISIBILITY

  .-hide {
     display: none!important;
  }

  .-hide-mobile{
     display: none!important;
     @include VP600 {
      display: block!important;
     }
  }

  .-show {
     display: block!important;
  }

  .-wip {
      opacity: .3;
      filter: grayscale(100%);
  }

// - - - POSITION

  .-absolute {
    position: absolute;
  }

  .-relative {
    position: relative;
  }

  .-static {
    position: static;
  }

  .-fixed {
    position: fixed;
  }



// - - - TEXT

  .-text-center {
    text-align: center;
  }
  .-text-left {
    text-align: left;
  }
  .-text-right {
    text-align: right;
  }
  .-text-uppercase {
    text-transform: uppercase!important;
  }

  .-text-decoration-none {
    text-decoration: none!important;
  }


// - - Typography - Quality assurance

  .-machina {

    font-family: $font-machina!important;
    font-style: normal!important;
    font-weight: normal!important;

    &.-bold {
      font-weight: bold!important;
    }

    &.-italic {
      font-style: italic!important;
    }

  }

  .-sangblue {

    font-family: $font-sangbleu!important;
    font-style: normal!important;
    font-weight: normal!important;

    &.-bold {
      font-weight: bold!important;
    }

    &.-black {
      font-weight: 900!important;
    }

    &.-italic {
      font-style: italic!important;
    }

  }


}




