//
// TYPOGRAPHY
//

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}


body {
  //font-family: $font-sangbleu;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: $black;
  text-align: left;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: $font-machina;
  color: $black;
  display: block;
  margin: 0 0 .44em;
  word-break: break-word;
  line-height: 1.256;
}


h1, .h1 {
  font-size: 48px;
}
h2, .h2 {
  font-size: 40px;
}
h3, .h3 {
  font-size: 32px;
}
h4, .h4,
h5, .h5
h6, .h6 {
  font-size: 24px;
}

@media only screen and (min-width: 1280px) {
  body {
    font-size: 20px;
  }

  h1, .h1 {
    font-size: 80px;
  }

  h2, .h2 {
    font-size: 56px;
  }
  h3, .h3 {
    font-size: 44px;
  }
  h4, .h4,
  h5, .h5
  h6, .h6 {
    font-size: 32px;
  }


}


// Header group (Startpage)

  .cg-header-group {

    text-align: center;
    position: relative;
    z-index: 1;

    .cg-group-header {
      margin: 0 0 32px;
      font-size: 38px;
      font-family: $font-machina;
      line-height: 1.1;
      color: $red;
    }

    .cg-group-sub-header {
      max-width: 620px;
      margin: 0 auto 32px;
      font-size: 18px;
      line-height: 1.8;
      font-family: $font-sangbleu;
    }

    @media only screen and (min-width: 768px) {
      .cg-group-header {
        font-size: 64px;
      }
    }

  }




