//
// TYPOGRAPHY
//

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}


body {
  //font-family: $font-cg;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: $black;
  text-align: left;
}



  h1,
  h2,
  h3,
  h4,
  h5,
  h6  {
    font-family: $font-cg;
    color: $black;
    display: block;
    margin: 0 0 .44em;
    word-break: break-word;
    line-height: 1.1;
  }


// Header group (Startpage)

  .cg-header-group {

    text-align: center;
    position: relative;
    z-index: 1;

    .cg-group-header {
      margin: 0 0 32px;
      font-size: 38px;
      font-family: $font-cg-2;
      line-height: 1.1;
      color: $red;
    }

    .cg-group-sub-header {
      max-width: 620px;
      margin: 0 auto 32px;
      font-size: 18px;
      line-height: 1.8;
      font-family: $font-cg;
    }

    @media only screen and (min-width: 768px) {
      .cg-group-header {
        font-size: 64px;
      }
    }

  }


/////

// TYPYGRAPHY CLASSES

.-txt-s{
  font-size: 13px;
}

.-txt-s {
  font-size: 13px;
}

.-txt-m {
  font-size: 15px;
}



