//
// MIXINS
//

/////////////////////////////////////////////////////////////////////////
// CLEARFIX
// -> @include clearfix;
/////////////////////////////////////////////////////////////////////////

@mixin clearfix {
    zoom: 1;
    &:before,
    &:after {
        content: "\0020";
        display: block;
        height: 0;
        overflow: hidden;
}
    &:after {
        clear: both;
    }
}

/////////////////////////////////////////////////////////////////////////
// ASPECT-RATIO-IMG
// -> @include aspect-ratio-picture(16,9)
/////////////////////////////////////////////////////////////////////////

@mixin aspect-ratio-picture($width, $height) {
    position: relative;
   // overflow: hidden;
    display: block;

    &:before {
        display: block;
        content: " ";
        width: 100%;
        padding-top: ($height / $width) * 100%;
    }

    picture {
        position: absolute;
        //top: 50%;
        //left: 50%;
       // bottom: 0;
       //transform: translate(-50%,-50%);
    }

}
