//
// VARIABLES
//


//////////////////////
// COLORS
////////////////////

$pink:      #FFC9CA!default;
$blue:      #004A84!default;
$lime:      #E6FF00!default;
$turquoise: #F4FCFF!default!default;
$yellow:    #EEF16B!default;
$red:       #FE5311!default;

$gradient: linear-gradient(180deg, #fff 0% ,#fff 20% , #F7FFF4 50%, #FCF4FF 100%);

$black: 	 #000 !default;
$white:    #fff !default;

$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;

/////////////////////
// FONTS
///////////////////

// SPECIFIC NAMES


$font-sangbleu: 'SangBleuEmpire', serif;
$font-cg: 'SangBleuEmpire', serif;

$font-machina: 'NeueMachina', serif;
$font-cg-2: 'NeueMachina', sans-serif;

$font-system: "-apple-system", BlinkMacSystemFont, "Apple Color Emoji", “Segoe UI”, Roboto, “Helvetica Neue”, Helvetica, Arial, sans-serif;

// GENERAL NAMES
$font-header: $font-machina;
$font-bread: $font-cg;


.-machina {
  font-family: $font-machina!important;
  font-style: normal!important;
  font-weight: normal!important;

  &.-bold {
    font-weight: bold!important;
  }

  &.-italic {
    font-style: italic!important;
  }

}

.-sangblue {
  font-family: $font-sangbleu!important;
  font-style: normal!important;
  font-weight: normal!important;

  &.-bold {
    font-weight: bold!important;
  }

  &.-black {
    font-weight: 900!important;
  }

  &.-italic {
    font-style: italic!important;
  }

}





