//
// VARIABLES
//


//////////////////////
// COLORS
////////////////////

$pink:      #FFC9CA!default;
$blue:      #004A84!default;
$lime:      #E6FF00!default;
$turquoise: #F4FCFF!default!default;
$yellow:    #EEF16B!default;
$red:       #FE5311!default;

$gradient: linear-gradient(180deg, #fff 0% ,#fff 20% , #F7FFF4 50%, #FCF4FF 100%);

$black: 	 #000 !default;
$white:    #fff !default;

$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;


/////////////////////
// FONTS
///////////////////

$font-sangbleu: 'SangBleuEmpire', serif;
$font-machina: 'NeueMachina', serif;


/////////////////////
// SPACING
///////////////////

// mm -> margin-mobile
// mt -> margin-tablet
// md -> margin-desktop

$mm: 40px !default;
$mt: 60px !default;
$md: 80px !default;




